<div class="row" ng-init="load()">
	<div class="col-sm-4"></div>
	<div class="col-sm-4">
		<p>
			<span style="font-size: larger;" class="label label-danger">Followings</span>
		</p>
	</div>
	<div class="col-sm-4"></div>
</div>





<div class="panel panel-primary" ng-repeat="f in following">
	<div class="panel-heading clearfix">
		<h3>{{f.name}}</h3>
	</div>
	<div class="panel-body">
		<p>@ {{ f.handle }}</p>
		<div class="btn-group pull-right">
			<div class="btn">
				<span ng-click="unfollow(f.personId)" class="label label-primary">Unfollow</span>
			</div>
		</div>
	</div>
</div>